.MuiDrawer-root {
  padding: 0rem;
}

.cart-title {
  margin: 0rem;
  margin-bottom: 0.5rem;
}

.cart-price {
  margin: 0rem;
  color: green;
  font-weight: 700;
}

.cart-quantity {
  height: 2rem;
  font-size: 18pt;
}

img {
  max-height: 9.375rem;
  object-fit: scale-down;
  border-radius: 0.625rem;
  width: 100%;
  height: auto;
}
