#description {
  width: 100%;
  padding: 1.531rem 1.25rem;
  box-sizing: border-box;
  height: 12.5rem;
}

.MuiAutocomplete-endAdornment {
  padding: 0rem;
}

.MuiAutocomplete-popper {
  max-height: 28rem;
}

#submit {
  box-shadow: 0rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.15);
}

#submit:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0.4375rem 0.625rem rgba(0, 0, 0, 0.2);
}

.cart-quantity {
  margin: 0rem;
  margin-top: 0.15rem;
}
